* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.header {
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 242, 233);
  width: 100%;
}

.header--fixed {
  transition: all 0.35s;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e88f41;
  z-index: 1;
}
.logo-img {
  height: 2rem;
}
.nav {
  display: flex; 
  justify-content: center;
  align-items: center;
  max-width: 50%;
  list-style: none;
  font-size: 1.7rem;
  font-weight: bold;
}
.nav-list {
  gap: 2.8rem;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list a {
  text-decoration: none;
  color: rgb(51, 51, 51);

  font-size: 1.7rem;
  font-weight: bold;
}

.main-nav-link,
.main-nav-link:visited {
  background-color: #b56620;
  color: #f9f9f9 !important;
  padding: 1rem 2rem;
  border-radius: 7px;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  background-color: #f9f9f9;
  color: #b56620 !important;
}

.hero-section {
  display: flex;
  align-items: center;
  gap: 4.2rem;
  background-color: rgb(253, 242, 233);
}

.hero-title {
  font-size: 5.1rem;
  flood-color: #d0cdc7;
  margin: 6rem 0rem 2rem 0rem;
  font-weight: bold;
}
.hero-description {
  font-size: 1.8rem;
  margin: 5rem 0rem;
  line-height: 2.8rem;
}
.btn {
  max-width: 80%;
  padding: 2rem 4rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 1.5rem;
  margin: 0rem 0.6rem;
  font-weight: 700;
  transition: all 0.3s;
}

.main-btn {
  color: #e8e6e3;
  background-color: #b56620;
}
.main-btn:hover {
  background-color: #6b3c15;
}
.second-btn {
  color: #e88f41;
  background-color: #232526;
}
.second-btn:hover {
  color: #e8e6e3;
  background-color: #5a3b22;
  border: 0.4rem solid #e8e6e3;
}
.customers-img {
  margin: 3rem 0rem;
}
.customer-img {
  height: 6rem;
  border-radius: 2.7rem;
  margin-right: -1.6rem;
  border: 0.4rem solid #6b3c15;
}
.custmors {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  width: 120%;
  gap: 3rem;
}
.custmor-num {
  font-weight: 600;
  font-size: 1.8rem;
}
.custmor-num span {
  color: #e88f41;
  font-size: 2.1rem;
}
.hero-img {
  margin: 0 auto;
  display: block;
  max-width: 80%;
  background-image: linear-gradient(
      to bottom right,
      rgb(180, 121, 52),
      rgb(223, 221, 123)
    ),
    url("/hero.webp");
}

.sponcers {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sponcer-img {
  filter: brightness(0%);
  height: 3.2rem;
  opacity: 0.5;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.spncer-title {
  color: #201a1ab2;
  font-size: 3rem;
  letter-spacing: 0.47rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 3.4rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
.section-how {
  margin: 7rem 0rem;
}
.app-heading {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.7rem;
  color: #b56620;
  font-weight: 600;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.app-title {
  color: #e8e6e3;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.grid-2-colmuns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 3rem;
  column-gap: 1.5rem;
}
.app-screen-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.app-screen-box::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 45%;
  padding-bottom: 45%;
  background-color: #e88f4193;
  border-radius: 50%;
  z-index: -1;
}

.app-screen {
  max-width: 35%;
  display: block;
}

.app-counter {
  font-size: 8.6rem;
  color: #e8e6e3;
  font-weight: 600;
}
.app-dsicusion {
  font-size: 2.3rem;
  font-weight: 700;
  padding: 3rem 0rem;
}
.app-discreraptino {
  font-size: 1.7rem;
  font-weight: 500;
}

.menu-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #b56620;

  margin: 3rem 0rem;
}

.menu-discreaption {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  color: #d0cdc7;
  margin-bottom: 6rem;
}
.grid-3-colmuns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
}
.meal-1 {
  max-width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  transition: all 0.35s;
}
.meal-1:hover {
  overflow: clip;
  transform: scale(1.2);
}
.meal-type {
  border-radius: 0.8rem;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  margin: 2rem 0rem;
  padding: 0.4rem 0.8rem;
  display: inline-block;
}
.meal-name {
  font-size: 2.5rem;
  color: rgb(51, 51, 51);
  font-weight: 600;
  padding: 0.8rem 0rem 2rem 0rem;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  font-size: 1.6rem;
  color: #555;
}

.icon-style {
  font-size: 3rem;
  color: #b56620;
}
.card {
  overflow: hidden;
  background-color: #f9f9f7;
  border-radius: 1.2rem;
  transition: all 0.35s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2.4rem 1.8rem;
}
.card:hover {
  transform: translateY(-8px);
}

.card .list-item span {
  font-size: 1.6rem;
}
.meal-content {
  padding: 0.2rem 0.8rem 4.8rem;
}
.meal-sort {
  font-size: 2rem !important;
  font-weight: 700;
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  color: #6b3c15;
}
.meal-order {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.pricing-section {
  padding: 9.6rem 0;
  background-color: #fff;
}

.pricing-section h3 {
  font-size: 4rem;
  margin: 2.2rem 0 6.4rem 0;
  color: #333;
}

.pricing-plan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  max-width: 110rem;
  margin-top: 4.8rem;
}

.pricing-plan-start,
.pricing-plan-end {
  overflow: hidden;
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
}

.pricing-plan-end {
  background-color: #fff4e6;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; /* للـ ::before */
}

.pricing-plan-start span,
.pricing-plan-end span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #e67e22;
  margin-bottom: 2.4rem;
}

.pricing-plan-start h3,
.pricing-plan-end h3 {
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.pricing-plan-start p,
.pricing-plan-end p {
  text-align: center;
  color: #666;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}

.pricing-plan-start ol,
.pricing-plan-end ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4.8rem;
}

.pricing-plan-start li,
.pricing-plan-end li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.7rem;
}

.pricing-plan-start ion-icon,
.pricing-plan-end ion-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.pricing-plan-start button,
.pricing-plan-end button {
  display: block;
  margin: 0 auto;
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  font-size: 1.8rem;
  cursor: pointer;
}
.pricing-plan-start button {
  margin-top: 10rem;
}

.pricing-plan-start button:hover,
.pricing-plan-end button:hover {
  background-color: #cf711f;
}

.pricing-plan-end::before {
  content: "BEST VALUE";
  transform: rotate(45deg);
  top: 3.2rem;
  right: -5.6rem;
  position: absolute;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 6.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.pricing-time {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.8rem;
  color: #cf711f;
}
.section-how,
.sponcer-section,
.menu-section,
.hero-section {
  /* display: none; */
}

.icon-mobile {
  display: none;
  background: none;
  font-size: 2.3rem;
  color: #cf711f;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    background-clip: 20;
  }

  .nav-open .main-nav {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    gap: 6rem;
    font-size: 2.4rem;
  }

  .icon-mobile {
    display: block;
    z-index: 1;
  }

  /* icons toggle */
  .icon-mobile-nav:last-child {
    display: none;
  }

  .nav-open .icon-mobile-nav:first-child {
    display: none;
  }

  .nav-open .icon-mobile-nav:last-child {
    display: block;
  }
}
